<h2 mat-dialog-title>Welcome to the 2nd FUN MOMENT of the GSP train!!!</h2>
<mat-dialog-content class="mat-typography" [formGroup]="form">
  <h3>Game rules</h3>
  
  <ol>
    <li>The game target is pickung up as many <i>"feria"</i> light bulbs as possible and dropping them off in the main gate.</li>    
    <li>You have {{tiempo}} seconds to collect as many as you can.</li>
    <li>When you pick a lantern, it'll be added to you queue and you'll drag them along the field.</li>
    <li>You need at least {{numMinimo}} lanterns to deliver them to the main gate. When you get {{numMinimo}} they'll change color so that you know you can drop them off</li>     
    <li *ngIf="penalizacion > 0">If you run into an enemy, you'll lose all the lanterns you're dragging at the moment and {{penalizacion}} seconds will deducted from the total time you have left. </li>
    <li>Once the time is up, the score will be the amount of lanterns you were able to bring to the main gate. </li>
  </ol>
  
  <h3>Movements</h3>
  <ol>
    <li>The girl moves by herself through the feria, unless she crashes against a "caseta" or the limit of the grounds.</li>
    <li>You'll start from the Main gate, towards North, but you can change directions with your keyboard arrows.</li>
    <li>But don't try to do strange things: if you're going right, you cannot directly move left, you'll first need to move up or down. 90º angles only.</li>
  </ol>

  <h3>Enemies</h3>
  <ol>
    <li>Drunk people and riders are moving along the whole feria without caring. Be careful and don't run into them!!.</li>
    <li>If you do, you'll lose your bounty, so don't accumulate too many lanterns without dropping them off.</li>
  </ol>

  <h3>Turns</h3>
  <ul>
    <li>Each player will play their own match.</li>    
  </ul>

  <h3>Your personal information:</h3>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text"  matInput placeholder="What's your name?" cdkFocusInitial formControlName="name">
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="true" (click)="save()" [disabled]="!validateForm()">Play!!!</button>
</mat-dialog-actions>